<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <properties>
        <property name="name">simpleweb</property>
        <property name="pattern_to_file">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %-55logger{36} line:%-4L : %msg%n
        </property>
        <property name="pattern_to_console">%d{mm:ss} |%12t | %-5level %-20logger{2} line:%-3L : %msg%n</property>
    </properties>

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_to_console}"/>
        </Console>
    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>